*{
    box-sizing: border-box;
    padding: 0%;
    
}




nav{
   border: 1px black solid;
   height: 80px; 
   padding-bottom: 50px;
   
}
nav img{
    height: 50px;
    
}
nav a{
    text-decoration: none;
    margin: 10px;
}


/*imagen de fondo*/
.presentacion{
    
    background-image: url(../imgs/home-lg.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
/*etiqueta de presentacion*/
.e{
    margin-top: 220px;
}


.entrada img{
    width: 50%;
}
.entrada h6{
    text-align: center;
}
ul{
    list-style: none;
}

footer{
    background-color: gray;
    color: white;
}



